@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Это сайт с книгами</h1>
    <p><a asp-controller="Account" asp-action="Registration">тут можно зарегестрироваться</a></p>
    <p><a asp-controller="Account" asp-action="Authorization">а тут авторизироваться</a></p>
</div>
